[MASTER]

max-line-length = 88
[MESSAGES CONTROL]

disable=missing-function-docstring,missing-module-docstring,wrong-import-order

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once). See also the "--disable" option for examples.
enable=

